/* Basic -------------------------------------------------------------*/
body, input, select, textarea {
	color: black;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;  /* pas en gras */
	letter-spacing: 0.075em;
	line-height: 1.65em;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

h1 {
	font: inherit;
	font-size: 1.5em;
}
@media screen and (max-width: 640px) {
  h1 {
		font-size: 0.8em;
	}
}
h2 {
	font-size: 1.5em;
	line-height: 1.75em;
}
h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}
li{
	list-style: none;
}
button {
  background-color: #46A8FF;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #A2D3FF;
}
form{
	text-align: center;
}
input {
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
	width: 300px;
	outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}
input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
.compulsory{
	border-color: rgba(47,116,255,0.75);
}

input[type=submit] {
	width: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 15px;
	font-size: 14px;
	background: #46A8FF;
	color: white;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	left: 75%;
}
input[type=submit]:hover {
	background: #A2D3FF;
}
input[type=number] {
	width: 80px;
	margin-bottom: 20px;
}
input[type=checkbox] {
	width: auto;
	margin: 15px;
}
input[type=date] {
	width: 200px;
	margin: 5px;
}
input[type=radio] {
	width: 13px!important;
	margin: 15px;
}
.submitBackground{
	background-color: aliceblue;
	width: 100%;
	height: 100px;
	
	color: rgba(211,211,211,1.00);
	text-align: center;
	line-height:90px;
	font-size: 35px;
	box-shadow: 0 3px 10px 1px rgba(200,200,200,0.5);
	
}
.submitBackground > input{
	position: relative;
	bottom: 40px;
	left: 30px;
}
.submitBackground > a{
	position: relative;
	bottom: 40px;
	left: 30px;
}
.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 108px;
	width: 100%;
	height: 100px;
	z-index: 100000!important;
	transform: translateY(-28px);
}
.submitBackground > div{
	display: inline-block;
	width: 50px;
}
.submitBackground > i{
	position: relative;
	bottom: 40px;
}
.submitBackground > div p{
	margin: 0;
	line-height: 0px;
	font-size: 15px;
	position: relative;
	bottom: 15px;
	text-align: center;
}
.submitBackgroundBackground{
	display: none;
}
@media screen and (max-width: 640px) {
	.sticky{
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
		height: 60px;
		z-index: 100000!important;
		transform: translateY(0px);
	}
	.submitBackground > div{
		display : none;
	}
	.submitBackground i{
		font-size: 15px;
		display: none;
	}
	.submitBackground input{
		bottom: 20px;
		right: 85px;
	}
	.submitBackground a{
		bottom: 20px;
		left: 85px;
	}
	.submitBackgroundBackground{
		display: block;
		height: 60px;
	}
}
.note{
	color: gray;
	font-style: italic;
	font-size: 15px;
}
header h1{
	position: absolute;
	text-align: center;
	margin: auto;
	width: 100%;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 800;
	top: 50px;
	text-shadow: 1px 1px 10px white;
}
@media screen and (max-width: 380px) {
  header h1 {
		font-size: 18px;
		top: 10px;
	}
}
@media screen and (max-width: 640px) {
  header h1 {
	  margin: 0;
	}
	header > h2{
		display: none;
	}
}
@media screen and (min-width: 380px) and (max-width: 640px) {
  header h1 {
		font-size: 20px;
	}
}
@media screen and (min-width: 640px) and (max-width: 800px) {
  header h1 {
		font-size: 35px;
	}
}
header h2{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 100px;
	text-shadow: 1px 1px 10px white;
}
@media screen and (max-width: 640px) {
  header h2 {
		width: 100%;
		font-size: 20px;
	}
}
.imghead{
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	z-index: -10!important;
}
@media screen and (max-width: 640px) {
	.imghead{
		height: 60px;
	}
}
/* index -------------------------------------------------------------*/
.home{
	text-align: center;
}
.home > h1{
	margin: 50px auto auto;
	padding: 10px;
	width: 400px;
	font-size: 25px;
	font-weight: 300;
}
@media screen and (max-width: 640px) {
	.home > h1{
		width: 80%;
		font-size: 20px;
		font-weight: 200;
	}
}
.home button{
	margin-top: 50px;
	padding: 12px 15px;
}
/* footer -------------------------------------------------------------*/
footer{
	display: flex;
	margin-top: 230px;
	width: 100%;
}
@media screen and (max-width: 640px) {
	footer{
		margin-top: 30px;
	}
}
footer div{
	width: 100%;
	text-align: center;
}
@media screen and (max-width: 640px) {
	footer > div > a{
		font-size: 15px;
		font-weight: lighter;
		line-height: 10px;
	}
}
/* form general -------------------------------------------------------------*/
.formType > main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.formType div{
	width: 300px;
	margin: 20px;
	box-shadow: 0px 1px 10px 0.1px rgba(200,200,200,0.4);
	padding: 0 0 10px 0;
}
.formType h2{
	margin: auto;
	text-align: center;
}
.without{
	margin: 15px auto;
	text-align: center;
	box-shadow: 0px 1px 10px 0.1px rgba(200,200,200,0.4);
	width: 200px;
	padding: 1px 2px 25px 5px;
	transform: translateY(-108px);
}
#textAlert{
	margin: 15px auto;
	text-align: center;
	transform: translateY(-108px);
	margin: 0 10px;
}
@media screen and (max-width: 640px) {
	.without{
		transform: translateY(0px);
	}
	#textAlert{
		transform: translateY(0px);
	}
}
select{
	width: 300px;
}

@media screen and (min-width: 640px) {
	.formUp:not(.sticky){
		transform: translateY(-80px);
	}
}
/* form3 & 4 & 5 -------------------------------------------------------------*/
.form4 h2{
	width: 100%;
	text-align: center;
	z-index: 10!important;
}
.recall{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	width: 100%;
	z-index: 10!important;
}
.recall > div{
	box-shadow: 0px 1px 10px 0.1px rgba(200,200,200,0.4);
	margin: 5px 20px;
	padding: 0 20px;
	text-align: left;
	font-size: 15px;
	line-height: 20px;
	color: grey;
	width: 300px;
}
.recall > div input{
	font-size: 15px;
	line-height: 20px;
	color: grey;
}
.add{
	text-align: center;
	width: 95%!important;
	background: #46A8FF;
	margin: 10px auto;
	padding: 10px auto;
	color: white;
	z-index: 0!important;
}
.formType > main div{
	height: auto;
	padding: 1px 20px 0 20px;
}

.formType > main div h3{
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 20px;
}
.formType > main div > main{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: justify;
	font-size: 15px;
	line-height: 20px;
}
.formType > main div > main > span{
	width: 100%;
}
.formType label{
	width: 100%;
}
.formNoPackage:firstChild(){
	transform: translateY(-100px);
}