/* Basic -------------------------------------------------------------*/
body, input, select, textarea {
	color: black;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: normal;  /* pas en gras */
	letter-spacing: 0.075em;
	line-height: 1.65em;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

h1 {
	font: inherit;
	font-size: 1.5em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.75em;
}
h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}
li{
	list-style: none;
}
button {
  background-color: #46A8FF;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #A2D3FF;
}
form{
	text-align: center;
}
input {
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
	width: 300px;
	outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}
	
input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
input[type=submit] {
	width: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 15px;
	font-size: 14px;
	background: #46A8FF;
	color: white;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
}
input[type=submit]:hover {
	background: #A2D3FF;
}
input[type=number] {
	width: 80px;
}
.note{
	color: gray;
	font-style: italic;
	font-size: 15px;
}
header h1{
	position: absolute;
	text-align: center;
	margin: auto;
	width: 100%;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 800;
	top: 50px;
	text-shadow: 1px 1px 10px white;
}
header h2{
	position: absolute;
	text-align: center;
	margin: auto;
	width: 100%;
	top: 100px;
	text-shadow: 1px 1px 10px white;
}
.imghead{
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	z-index: -10;
}
/* index -------------------------------------------------------------*/
.home{
	text-align: center;
}

.home > h1{
	margin: 50px auto auto;
	padding: 10px;
	width: 400px;
	font-size: 25px;
	font-weight: 300;
}
.home button{
	margin-top: 50px;
	padding: 12px 15px;
}
/* footer -------------------------------------------------------------*/
footer{
	display: flex;
	margin-top: 230px;
	width: 100%;
}
footer div{
	width: 100%;
	text-align: center;
}
/* form2 -------------------------------------------------------------*/
select{
	width: 300px;
}
/* form3 -------------------------------------------------------------*/
.form3 h2{
	margin: auto;
	text-align: center;
}
#formForfait main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#formForfait div{
	width: 325px;
	margin: 20px;
	box-shadow: 0px 1px 10px 0.1px rgba(200,200,200,0.4);
	padding: 0 0 10px 0;
}
.form3 .without{
	margin: 15px auto;
	text-align: center;
	box-shadow: 0px 1px 10px 0.1px rgba(200,200,200,0.4);
	width: 200px;
	padding: 1px 2px 25px 5px;
}